.logo-title {
  line-height: 60px;
  font-size: 22px;
}
.logo-img {
  height: 60px;
  width: 60px;
}
.navbar {
  -webkit-box-shadow: -6px 16px 74px -31px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: -6px 16px 74px -31px rgba(0, 0, 0, 0.66);
  box-shadow: -6px 16px 74px -31px rgba(0, 0, 0, 0.66);
}

.copyright {
    line-height: 100px;
  width: 100%;
  height: 100px;
  font-size: 18px;
}
